* { 
    box-sizing: border-box; 
}
body { 
    margin: 0; 
    padding: 0; 
    color: black; 
    font-family: Helvetica; 
}
h1 { 
    text-align:center; 
    margin:24px 0; 
    font-size:1.6rem; 
}

.row{ 
    margin:0 8px 24px; 
}
.row::after{ 
    clear:both; 
    content:""; 
    display:block; 
    
}
.col{ 
    width:100%; 
    padding:0 8px; 
    float:left; 
    
}

.box{ 
    border:1px solid black; 
    padding:56px 12px 12px;
    position:relative; 
     
}
.food{ 
    top:-1px; 
    right:-1px; 
    border:1px solid black; 
    padding:6px 10px;
    position:absolute;  
    font-weight:bold; }


@media (min-width:768px) and (max-width:991px){
  .col{ width:50%; }
  .col--full{ width:100%; } 
}


@media (min-width:992px){
  .col{ width:33.3333%; }
}
